/* Impression */
a:link {
    color: black;
}

/*----------------------------------------------------------- */
/*                       SECTION 1                            */
/* ---------------------------------------------------------- */

iframe {
    display: none;
}

.sect1 {
    color: black;
    background: unset;
}

.sect1 .infoperso {
    align-items: stretch;
    justify-content: left;
}

.sect1 .logo {
    height: 3.9687cm;
    width: 3.9687cm;
}

.Align img {
    display: none;
}

.sect1 h2 {
    font-size: 0.5cm;
}

.sect1 a {
    margin: unset;
}

.sect1 p {
    font-size: 0.4cm;
}

.adresse::before {
    text-decoration: underline dotted;
    content: "Adresse : ";
}

.tel::before {
    text-decoration: underline dotted;
    content: "Tel : ";
}

.mail::before {
    text-decoration: underline dotted;
    content: "Email : ";
}

/*----------------------------------------------------------- */
/*                       SECTION 2                            */
/* ---------------------------------------------------------- */
.sect2 {
    width: 100%;
    display: block;
}

.sect2 header {
    background: unset;
    box-shadow: unset;
}

.sect2 header h1 {
    color: black;
    text-shadow: unset;
}

.global {
    display: block;
}

.sect2 h1,
h2,
h3 {
    line-height: 0.7cm;
}

.sect2 li {
    line-height: 0.54cm;
}

.sect2 h1 {
    border: 0.265mm solid black;
    font-size: 0.42cm;
}

.sect2 h2 {
    text-decoration: underline;
    text-shadow: unset;
    font-size: 0.37cm;
    margin: -5.292mm 0 0 0;
}

.sect2 h3 {
    font-size: 0.33cm;
    text-decoration: underline dotted;
}

.sect2 li {
    font-size: 0.29cm;
}

.sect2 .contourBox {
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;
}

.derouler>ul {
    overflow: unset;
    max-height: unset;
}

.derouler>li {
    background-color: unset;
}
/* .StPage{
  page-break-before: always;  
} */