/* LES LIENS AU SURVOL */
a:link {
    color: rgb(249, 249, 119);
}

a:visited {
    color: rgb(236, 226, 82);
}

a:focus {
    color: rgb(148, 245, 176);
}

a:hover {
    color: rgb(245, 226, 56);
}

a:active {
    color: rgb(171, 248, 178);
}

.elem-liste0 {
    list-style-type: square;
}

body {
    /* Variables */
    --gradientPrim: rgb(130, 1, 1);
    --gradientSec: rgb(181, 24, 24);
    --gradientTer: rgb(130, 1, 1);
    --Size5: 2.2em;
    --Size4: 1.7em;
    --Size3: 1.5em;
    --Size2: 1.3em;
    --Size1: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Conteneur global pour 2 items (<section>) */
.global {
    /* Eléments contenus étirables */
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("");
}

.arround {
    border-radius: 10px 10px 0 0;
}

/*-------------------- */
/*     SECTION 1       */
/* ------------------- */
.sect1 {
    display: flex;
    background-image: -moz-linear-gradient(to bottom, var(--gradientPrim) 0%, var(--gradientSec) 70%, var(--gradientPrim) 100%);
    background-image: -webkit-linear-gradient(to bottom, var(--gradientPrim) 0%, var(--gradientSec) 70%, var(--gradientPrim) 100%);
    background-image: -o-linear-gradient(to bottom, var(--gradientPrim) 0%, var(--gradientSec) 70%, var(--gradientPrim) 100%);
    background-image: linear-gradient(to bottom, var(--gradientPrim) 0%, var(--gradientSec) 70%, var(--gradientPrim) 100%);
    color: white;
    margin-top: 5px;
    border-radius: 0 0 10px 10px;
}

.containlogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.sect1 .logo {
    background-color: white;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.infoperso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomer .separation {
    background-color: white;
    border-radius: 7px;
    height: 2px;
}

.zoomer:hover .dplHaut {
    animation: dpHaut 1s alternate-reverse ease-in-out infinite;
}

@keyframes dpHaut {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, -10px);
    }
}

.zoomer:hover h2 {
    animation: zoom 1s alternate infinite;
}

@keyframes zoom {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.2);

    }
}


.zoomer:hover .dplBas {
    animation: dpHBas 1s alternate-reverse ease-in-out infinite;
}

@keyframes dpHBas {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 10px);
    }
}

.adr {
    margin-top: 0px;
}

.Align {
    display: flex;
}

.Align img {
    height: 60px;
    width: 60px;
}

iframe {
    border-radius: 5px;
}

/*-------------------- */
/*     SECTION 2       */
/* ------------------- */
.sect2 {
    display: flex;
    flex-direction: column;
    color: rgb(47, 43, 43);
}

header {
    position: relative;
    z-index: 1;
    text-align: center;
    background-image: -moz-linear-gradient(to left, var(--gradientSec) 0% 1%, rgb(130, 1, 1) 50%, var(--gradientPrim) 100%);
    background-image: -webkit-linear-gradient(to left, var(--gradientSec) 0% 1%, rgb(130, 1, 1) 50%, var(--gradientPrim) 100%);
    background-image: -o-linear-gradient(to left, var(--gradientSec) 0% 1%, rgb(130, 1, 1) 50%, var(--gradientPrim) 100%);
    background: linear-gradient(to left, var(--gradientSec) 0% 1%, rgb(130, 1, 1) 50%, var(--gradientPrim) 100%);
    box-shadow: 2px 2px 3px 2px rgba(92, 87, 87, 0.6);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

.sect2 .contourBox {
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 3px rgba(92, 87, 87, 0.16);
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 10px;
}

.sect2 h1 {
    color: rgb(235, 242, 255);
    text-shadow: 3px 10px 15px gray;
}

li {
    line-height: 1.6em;
}

.elem-liste1 {
    list-style: url("img/elem-liste3.png");
}

.derouler>li {
    background-color: rgba(21, 62, 34, 0.1);
}

.derouler>ul {
    overflow: hidden;
    height: auto;
    max-height: 0px;
    transition: max-height 1.5s;
}

.derouler:hover>ul {
    max-height: 800px;
}

.sect2 div {
    background-color: white;
}

.sect2 h2 {
    text-shadow: 3px 10px 15px gray;
    margin-bottom: 40px;
}

.sect2 h3 {
    -webkit-transition: letter-spacing 2s;
    transition: 2s ease-in-out;
}

.sect2 h3:hover {
    letter-spacing: 0.5em;
    text-shadow: 3px 10px 15px gray;
}

.sect2 li:hover,
ul:hover {
    text-shadow: 1px 1px 1px rgba(245, 157, 157, 0.7);
}

/*----------------------------------------------------------- */
/*                    Media Queries CSS3                      */
/* ---------------------------------------------------------- */
/*
                    @media(max-width:767px){}
                    @media(min-width:768px){}
                    @media(min-width:992px){}
                    @media(min-width:1200px){} 
*/

/*----------------------------------------------------------- */
/*           Media Queries CSS3  max-width:767px              */
/* ---------------------------------------------------------- */
@media(max-width:767px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: column;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        flex-direction: column;
        align-items: center;
        width: 97%;
        padding: 50px 10px 50px 10px;

    }

    .sect1 h2 {
        font-size: var(--Size5);
    }

    .sect1 p {
        font-size: var(--Size4);
    }

    .Align {
        flex-direction: column;
        align-items: center;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 h1 {
        font-size: var(--Size4);
    }

    .sect2 h2 {
        font-size: var(--Size3);
    }

    .sect2 h3 {
        font-size: var(--Size1);
    }

    .sect2 li {
        font-size: var(--Size1);
    }

    iframe {
        width: 300px;
        height: 200px;
    }

}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:768px              */
/* ---------------------------------------------------------- */
@media(min-width:768px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: column;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        justify-content: center;
        width: 98%;
        padding: 50px 10px 50px 10px;
    }

    .fixer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .infoperso {
        flex-direction: column;
        align-content: flex-start;
    }

    .sect1 h2 {
        font-size: var(--Size5);
    }

    a {
        margin-left: 20px;
    }

    .sect1 p {
        font-size: var(--Size4);
    }

    iframe {
        width: 250px;
        height: 150px;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 h1 {
        font-size: var(--Size4);
    }

    .sect2 h2 {
        font-size: var(--Size4);
    }

    .sect2 h3 {
        font-size: var(--Size2);
    }


    .sect2 li {
        font-size: var(--Size1);
    }
}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:992px              */
/* ---------------------------------------------------------- */
@media(min-width:992px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: row;
        justify-content: center;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        flex-direction: column;
        justify-content: flex-start;
        width: 250px;
        min-width: 250px;
        border-radius: 10px;
        padding: 50px 10px 50px 10px;
    }

    .sect1 .logo {
        height: 150px;
        width: 150px;
    }

    .fixer {
        display: block;
        position: fixed;
    }

    .sect1 h2 {
        font-size: var(--Size3);
    }

    .sect1 p {
        font-size: var(--Size1);
    }

    .Align {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 250px;
        height: 150px;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 {
        width: 800px;
    }

    .sect2 h1 {
        font-size: var(--Size4);
    }

    .sect2 h2 {
        font-size: var(--Size3);
    }

    .sect2 h3 {
        font-size: var(--Size3);
    }


    .sect2 li {
        font-size: var(--Size1);
    }

}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:1200px              */
/* ---------------------------------------------------------- */
@media(min-width:1200px) {}