/* LES LIENS AU SURVOL */
a:link {
    color: rgb(102, 149, 255);
}

a:visited {
    color: green;
}

a:focus {
    color: rgb(197, 204, 199);
}

a:hover {
    color: rgb(165, 249, 219);
}

a:active {
    color: yellow;
}

.elem-liste0 {
    list-style-type: square;
}

body {
    /* Variable */
    --couleurFond: rgb(130, 1, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Conteneur global pour 2 items (<section>) */
.global {
    /* Eléments contenus étirables */
    display: flex;
}

.arround {
    border-radius: 10px 10px 0 0;
}

/*-------------------- */
/*     SECTION 1       */
/* ------------------- */
.sect1 {
    display: flex;
    background-color: var(--couleurFond);
    color: white;
    border-radius: 0 0 10px 10px;
}

.containlogo {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sect1 .logo {
    background-color: white;
    border-radius: 100%;
    height: 200px;
    width: 200px;
}

.infoperso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomer .separation {
    background-color: white;
    border-radius: 7px;
    height: 2px;
    transition: 1s ease-in-out;
}

.zoomer:hover .dplHaut {
    transform: translate(0px, -10px);
}

.zoomer h2 {
    transition: 1s ease-in-out;
}

.zoomer:hover h2 {
    -webkit-animation: solarise 2s ease-in-out;
    animation: relief 2s ease-in-out;
    transform: scale(1.3);
}

.zoomer:hover .dplBas {
    transform: translate(0px, 10px);
}

.adr {
    margin-top: 0px;
}

.Align {
    display: flex;
}

.Align img {
    height: 60px;
    width: 60px;
}

iframe {
    border-radius: 5px;
}

/*-------------------- */
/*     SECTION 2       */
/* ------------------- */
.sect2 {
    display: flex;
    flex-direction: column;
    color: rgb(47, 43, 43);
}

header {
    text-align: center;
    background-color: var(--couleurFond);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}

.sect2 .contourBox {
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 3px rgba(92, 87, 87, 0.16);
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 10px;
}

.sect2 h1 {
    color: rgb(235, 242, 255);
    text-shadow: 3px 10px 15px gray;
}

.elem-liste1 {
    list-style: url("img/elem-liste3.png");
}

.derouler>li {
    background-color: rgba(21, 62, 34, 0.1);
}

.derouler>ul {
    overflow: hidden;
    height: auto;
    max-height: 0px;
    transition: max-height 1.5s;
}

.derouler:hover>ul {
    max-height: 800px;
}

.sect2 div {
    background-color: white;
}

.sect2 h2 {
    text-shadow: 3px 10px 15px gray;
    margin-bottom: 40px;
}

.sect2 h3 {
    -webkit-transition: letter-spacing 2s;
    transition: 2s ease-in-out;
}

.sect2 h3:hover {
    letter-spacing: 0.5em;
    text-shadow: 3px 10px 15px gray;
}

.sect2 li:hover,
ul:hover {
    text-shadow: 1px 1px 1px rgba(245, 157, 157, 0.7);
}

/*----------------------------------------------------------- */
/*                    Media Queries CSS3                      */
/* ---------------------------------------------------------- */
/*
                    @media(max-width:767px){}
                    @media(min-width:768px){}
                    @media(min-width:992px){}
                    @media(min-width:1200px){} 
*/

/*----------------------------------------------------------- */
/*           Media Queries CSS3  max-width:767px              */
/* ---------------------------------------------------------- */
@media(max-width:767px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: column;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        flex-direction: column;
        align-items: center;
        width: 97%;
        padding: 50px 10px 50px 10px;

    }

    .sect1 h2 {
        font-size: 2.5em;
    }

    .sect1 p {
        font-size: 1.7em;
    }

    .Align {
        flex-direction: column;
        align-items: center;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 h1 {
        font-size: 1.6em;
    }

    .sect2 h2 {
        font-size: 1.4em;
    }

    .sect2 h3 {
        font-size: 1.1em;
    }

    .sect2 li {
        font-size: 1.1em;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:768px              */
/* ---------------------------------------------------------- */
@media(min-width:768px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: column;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        justify-content: center;
        width: 98%;
        padding: 50px 10px 50px 10px;
    }

    .fixer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .sect1 h2 {
        font-size: 2.5em;
    }

    a {
        margin-left: 20px;
    }

    .sect1 p {
        font-size: 1.8em;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 h1 {
        font-size: 1.9em;
    }

    .sect2 h2 {
        font-size: 1.9em;
    }

    .sect2 h3 {
        font-size: 1.3em;
    }


    .sect2 li {
        font-size: 1.1em;
    }
}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:992px              */
/* ---------------------------------------------------------- */
@media(min-width:992px) {
    .global {
        /* Place les 2 sections en colonne */
        flex-direction: row;
        justify-content: center;
    }

    /*-------------------- */
    /*     SECTION 1       */
    /* ------------------- */
    .sect1 {
        flex-direction: column;
        justify-content: flex-start;
        width: 250px;
        min-width: 250px;
        border-radius: 10px;
        padding: 50px 10px 50px 10px;
    }

    .fixer {
        display: block;
        position: fixed;
    }

    .sect1 h2 {
        font-size: 1.5em;
    }

    .sect1 p {
        font-size: 1em;
    }

    .Align {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 250px;
        height: 200px;
    }

    /*-------------------- */
    /*     SECTION 2       */
    /* ------------------- */
    .sect2 {
        width: 800px;
    }

    .sect2 h1 {
        font-size: 1.9em;
    }

    .sect2 h2 {
        font-size: 1.9em;
    }

    .sect2 h3 {
        font-size: 1.3em;
    }


    .sect2 li {
        font-size: 1.1em;
    }

}

/*----------------------------------------------------------- */
/*           Media Queries CSS3  min-width:1200px              */
/* ---------------------------------------------------------- */
@media(min-width:1200px) {}